.Topbar{
    background-color: #202c38;
  
  height: 276px;
  width: 1200px;
  display: flex;
  flex-direction: Row;
  
  border-radius:20px;
  margin-top: 50px;
}
.Topbar .div1 {

    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }
  
  .Topbar .text-wrapper1 {
    color: #ffffff;
    font-family: "Gilroy-Bold-☞", Helvetica;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .Topbar .p {
    color: #ffffff;
    font-family: "Gilroy-Medium-☞", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
    text-align: center;
    width: 484px;
  }
  
  .grahpic-element-icon {
    position: absolute;
    height: 20.59%;
    width: 15.8%;
    top: -10%;
    right: 29.93%;
    bottom: 78.98%;
    left: 92.26%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }

  .CW1{
    border-Radius:20px;
    height: 276px;
  }
  .CW2{
    border-Radius:20px;
    height: 276px;
  }
  .Topbar.CW5{
    width: 70%;
  }
  
  @media screen and (max-width: 768px) {
    .Topbar{
      flex-direction: column;
      width: 442px;
      height: 550px;
      margin-left: 12%;
      margin-right: 16%;
    }
    .CW2{
        width:100%;
        height:0%;
    }
    .CW1{
      border-Radius:20px;
    }
    
    .Topbar .text-wrapper1{
      font-size: 25px;
      margin-right: 35px;
    }

    .Topbar .p{
      font-size: 15px;
      width: 440px;
    }
    .grahpic-element-icon{
      position: absolute;
    height: 15.59%;
    width: 15.8%;
    top: -10%;
    right: 29.93%;
    bottom: 78.98%;
    left: 82.26%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;

    } 
  }
  @media screen and (max-width: 480px) {
    .Topbar{
      flex-direction: column;
      width: 443px;
      height: 550px;
      margin-left: -3%;
    }
  
    .Topbar .text-wrapper1{
      font-size: 25px;
      margin-left: 23px;
    }
    .CW5{
      width: 250px;
    }
    .Topbar .p{
      font-size: 15px;
      width: 300px;
    }
    .grahpic-element-icon{
      position: absolute;
    height: 15.59%;
    width: 15.8%;
    top: -10%;
    right: 29.93%;
    bottom: 78.98%;
    left: 84.26%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;

    } 
  }